*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: ivory;
}

main{
    width: 850px; 
    height: 10000px;
    margin: auto;
    background-color: aqua;
}
.hero{
    width: 100%;
    height: 500px;
    background:center/cover url("../images/hero-wolf.jpg") no-repeat;
}
.pos{
    position: relative;
}
.profilePicture{
    box-sizing: content-box;
    border:2px solid slategrey;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 50px;
}
.profilePicture img{
    width: 100px;
    height: 100px;
}
nav{
    position: sticky;
    top: 0;
    background-color: gray;
}
.mainNav li{

    display: inline;
    list-style: none;
}